@font-face {
  font-family: 'Euler Math';
  src: url('../fonts/Euler-Math.otf');
}
@font-face {
  font-family: 'Libertinus Sans';
  src: url('../fonts/LibertinusSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Libertinus Sans';
  src: url('../fonts/LibertinusSans-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Libertinus Sans';
  src: url('../fonts/LibertinusSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

math {
  font-family: 'Euler Math';
}

html {
  font-family: 'Libertinus Sans';
}