td {
    width:  30px;
    height: 30px;
    color: #707070;
    border: 1px solid #fafafa;
    text-align: center;
    vertical-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    position: relative;
}

.pixel-index {
    font-size: 10px;
    display: inline-block;
    position: absolute;
    top:   2px;
    right: 2px;
    color: #707070;
}

td.pixel {
    width:  4px;
    height: 4px;
    border: 0;
}
