body {
    padding: 50px;
    background-color: #212121;
    resize: both;
}

h2 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    color: #fafafa;
}
h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #707070;
}

h5 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #707070;
}

h6 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #707070;
}

p {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #fafafa;
}

a {
    text-decoration: none;
}

button {
    background-color: #212121;
    color: #fafafa;
    padding: 10px;
    border-radius: 10px;
    border-color: #fafafa;
    font-family: 'Roboto Mono', monospace;
    outline: none;
}

.row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(auto, auto);
}

.image {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
